<div class="card m-4" style="width: 30rem;">
  <div class="card-body">
    <div class="row">
      <div class="col-5"><img [src]="joinImgUrl" alt=""></div>
      <div class="col-7">
        <h5 class="card-title"><strong>{{character.name}}</strong></h5>
        <p class="card-text comic-text">{{descriptionShort}} ...</p>
        <button type="button" class="btn btn-danger"><small><strong>VIEW MORE</strong></small></button>
      </div>
      <h4 class="card-subtitle subtitle-card mt-3"><strong>Related comics</strong></h4>
      <div class="row">
        <div class="col-6 mt-3" *ngFor="let comic of comics">
          <p class="comic-text link-text" (click)="onClickComic(comic)">{{comic.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
